  /* Add this CSS to your stylesheet (e.g., index.css) */

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 1500px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the form container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
    border-radius: 8px; /* Optional: Add rounded corners */
    background: linear-gradient(135deg, #FFD523, #B2B1B9, #595260); /* Gradient background */
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Apply blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    border-radius: 8px; /* Optional: Add rounded corners */
    padding: 20px; /* Optional: Add padding */
  }


  .form-content {
    flex: 1;
    padding: 20px;
    
  }

  .image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .auth-image {
    max-width: 100%;
    height: auto;
  }

  .alert {
    margin-bottom: 1.5rem;
  }

  .auth-loginimage {
    max-width: 100%;
    height: auto;
  }

  .avatar {
    margin-right: 20px; /* Space between avatar and user info */
  }
  
  .user-info {
    flex: 1; /* Take up remaining space */
  }
  
  .username, .email, .role {
    margin-bottom: 10px; /* Space between text elements */
  }
  
  .btn {
   
    color: black  ;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #40a9ff; /* Lighter shade on hover */
  }